.breadcrumb {
  background: transparent;
  padding: $ml-padding 0;
  margin: 0;
  ul {
    margin: 0;
    padding: 0px;
    padding-left: 15px;
    @include media(sm) {
      padding: 0;
    }
    list-style-type: none;
    li {
      color: $ml-gray2;
      font-size: $ml-breadCrumbFz;
      display: inline-block;
      margin-right: 16px;
      &:not(:last-child) {
        &:after {
          content: '>';
          position: relative;
          right: -8px;
        }
      }
      &:last-child {
        font-weight: bold;
      }
    }
  }
}
