.itemContainer {
  background: white;
  padding: 0 15px;
  .listItem {
    padding: $ml-padding 0;
    display: flex;
    border-bottom: 1px solid $ml-gray1;
    .itemImage {
      max-width: 180px;
      border-radius: 4px;
      width: 50%;
      margin-right: $ml-padding;
    }
    .itemInfo {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      @include media(xl) {
        display: block;
        width: auto;
        padding-top: $ml-padding2;
      }
      .itemPrice {
        font-size: 20px;
        .shipping {
          position: relative;
          top: -2px;
          right: -10px;
        }
        @include media(sm) {
          font-size: $ml-itemlistPrice;
          margin-bottom: $ml-padding2;
        }
      }
      .itemTitle {
        font-size: 18px;
        @include media(sm) {
          font-size: $ml-itemlistTitle;
        }
      }
    }
  }
}
