.searchBar {
  background-color: $ml-yellow;
  .inputContainer {
    padding: 8px;
    .mainLogo {
      display: inline-block;
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    .input-group {
      margin-left: 8px;
      input {
        border: none;
        padding: 5px;
        padding-left: 15px;
        font-size: 16px;
        color: $ml-gray4;
        &::placeholder {
          color: $ml-gray2;
        }
        @include media(sm) {
          font-size: $ml-searchBarFz;
        }
      }
      button {
        border: none;
        background: $ml-gray1;
      }
    }
  }
}
