.singleItem {
  background: white;
  .img-fluid {
    max-width: 680px;
    border-radius: 4px;
    margin-right: $ml-padding;
    width: 100%;
  }
  .itemInfo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding-top: $ml-padding2;
    padding-right: $ml-padding2;
    .soldCount {
      font-size: $ml-soldCount;
      margin-bottom: $ml-padding;
    }
    .itemPrice {
      font-size: 20px;
      .shipping {
        position: relative;
        top: -2px;
        right: -10px;
        @include media(sm) {
          top: -7px;
        }
      }
      @include media(sm) {
        font-size: $ml-itemPrice;
        margin-bottom: $ml-padding2;
      }
    }
    .itemTitle {
      font-size: 18px;
      margin-bottom: $ml-padding;
      @include media(sm) {
        margin-bottom: $ml-padding2;
        font-size: $ml-itemTitle;
      }
    }
    button {
      max-width: 100%;
    }
  }
  .itemDescription {
    padding-left: $ml-padding;
    h3 {
      margin-bottom: $ml-padding;
      margin-top: $ml-padding;
      font-size: 20px;
      @include media(sm) {
        margin-top: $ml-padding2;
        font-size: $ml-descriptionHeader;
        margin-bottom: $ml-padding2;
      }
    }
    p {
      font-size: 14px;
      margin-bottom: $ml-padding;
      color: $ml-gray2;
      @include media(sm) {
        margin-bottom: $ml-padding2;
        font-size: $ml-descriptionBody;
      }
    }
  }
}
