// ==========  Media Queries  ==========
@mixin media($consulta) {
  $media-sm: '(min-width: 768px)'; // Tablet
  $media-md: '(min-width: 992px)'; // Desktop
  $media-lg: '(min-width: 1200px)'; // Big Res
  $media-xl: '(min-width: 1400px)'; // Xtra Large

  @if $consulta == sm {
    @media #{$media-sm} {
      @content;
    }
  } @else if $consulta == md {
    @media #{$media-md} {
      @content;
    }
  } @else if $consulta == lg {
    @media #{$media-lg} {
      @content;
    }
  } @else if $consulta == xl {
    @media #{$media-xl} {
      @content;
    }
  }
}
