$ml-yellow: #ffe600;
$ml-gray1: #eeeeee;
$ml-gray2: #999999;
$ml-gray3: #666666;
$ml-gray4: #333333;
$ml-lightBlue: #3483fa;
$ml-padding: 16px;
$ml-padding2: 32px;
$ml-soldCount: 14px;
$ml-itemTitle: 24px;
$ml-itemPrice: 46px;
$ml-descriptionHeader: 28px;
$ml-descriptionBody: 16px;
$ml-searchBarFz: 18px;
$ml-breadCrumbFz: 14px;
$ml-locationFz: 12px;
$ml-itemlistTitle: 18px;
$ml-itemlistPrice: 24px;
